[submodule "packages/fl_lib"]
	path = packages/fl_lib
	url = https://github.com/lollipopkit/fl_lib
	branch = main
[submodule "packages/fl_pi_llm"]
	path = packages/fl_pi_llm
	url = https://github.com/lollipopkit/fl_pi_llm
	branch = main
